<app-navbar></app-navbar>
<div class="container">
	<br><br>
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
			    <label for="configKey">Config Key 1</label>
			    <input type="text" class="form-control" id="configKey" aria-describedby="emailHelp" placeholder="Enter config Key">
		  	</div>
		</div>
		<div class="col-md-4" style="padding-top: 30px;">
			<button class="btn btn-success">Update</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
			    <label for="configKey2">Config Key 2</label>
			    <input type="text" class="form-control" id="configKey2" aria-describedby="emailHelp" placeholder="Enter config Key">
		  	</div>
		</div>
		<div class="col-md-4" style="padding-top: 30px;">
			<button class="btn btn-success">Update</button>
		</div>
	</div>
	
	
</div>
