<div class="row" style="margin-top: 20px; margin-left: 100px;">

				<div class="col-xs-3 analytics-left">
					<span class="glyphicon glyphicon-refresh"></span>
					<br>
					<h2 class="text text-center"><b>27</b></h2>
					<h4 class="text text-center" style="color: #a39c9c">Leads (Daily)</h4>

				</div>
				<div class="col-xs-3 analytics">
					<span class="glyphicon glyphicon-bookmark"></span>
					<br>
					<h2 class="text text-center"><b>125</b></h2>
					<h4 class="text text-center" style="color: #a39c9c">Leads (Monthly)</h4>
				</div>
				<div class="col-xs-3 analytics">
					<span class="glyphicon glyphicon-tags"></span>
					<br>
					<h2 class="text text-center"><b>7 </b></h2>
					<h4 class="text text-center" style="color: #a39c9c">Notifications</h4>
				</div>
				<div class="col-xs-3 analytics-right">
					<span class="glyphicon glyphicon-calendar"></span>
					<br>
					<h2 class="text text-center"><b>95%</b></h2>
					<h4 class="text text-center" style="color: #a39c9c">Uptime</h4>
				</div>
			</div>