
<div class="html-container">
  <div class="layout-centered bg-img body" >


    <!-- Main Content -->
    <main class="main-content" style="background-color:coral;">

      <div class="bg-white  rounded shadow-7 w-400 mw-100 p-6 " style="height: 100vh !important;">
        <h5 class="mb-7"><b>Log into your account now here</b></h5>

        <form>
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Email Id" [(ngModel)]="email">
          </div> 

          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password">
          </div>

          <div class="form-group flexbox py-3">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" checked>
              <label class="custom-control-label">Remember me</label>
            </div>

            <a class="text-muted small-2" href="user-recover.html" routerLink="/forgot-password" >Forgot password?</a>
          </div>

          <div class="form-group">
            <button class="btn btn-block btn-primary" type="submit" (click)="loginToApp()">Login here</button>
          </div>
        </form>
              <!-- <button class="bt btn-info " style="margin-left: 70px; background-color: #3b537a; padding: 5px" (click)="socialSignIn('linkedin')">Sign-in in with LinkedIn</button> -->
              <button><a href="https://ergasi-nodejs.cfapps.us10.hana.ondemand.com/oauth/linkedin/" target="_blank">
                Signin in with Linkedin
              </a>
              </button> 
              <button (click)="socialSignIn('google')">Signin in with Google</button>
        <hr class="w-30">

        <p class="text-center text-muted small-2">Don't have an account? <a href="user-register.html" routerLink="/register">Register here</a></p>
        <br><br><br>
      </div>
    </main><!-- /.main-content -->
    <!-- Scripts -->
    <script src="../assets/js/page.min.js"></script>
    <script src="../assets/js/script.js"></script>

  </div>
</div>