<app-navbar></app-navbar>
<!-- <br>
<div class="container">
<h5 class="text"><b>
  List of Jobs
</b>  </h5>


</div>
<table class="table table-wrapper-scroll-y  ">   
            <thead>
              <tr>
                <th class="">Company Name</th>
                <th class=" text-center">Year Founded</th>
                <th class="">Funding</th>
                <th class="">Apply</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eachData of listOfCompanies">
                <td class="">{{eachData.name}}</td>
                <td class=" text-center">{{eachData.yearFounded}}</td>
                <td class="">
                 {{eachData.funding}}
                </td>
                <td class="">
                  Apply
                </td>
              </tr>
            </tbody>

          </table> -->
<!-- <app-show-leads></app-show-leads>    -->

<div class="container">
  
    <h5 class="text"><b>List of all Jobs</b></h5>
<!-- <p  *ngIf="shouldShowPreLoader">Loading all leads.......</p> -->

          <table class="table" >   
            <thead>
              <tr>
                <th class="text text-center">Company Name</th>
                <th class="text text-center">Salary</th>
                <th class="text text-center">Job Posted At</th>
                <th class="text text-center">Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eachData of listOfCompanies">
                <td class="text text-center">{{eachData.name}}</td>
                <td class="text text-center">{{eachData.salary}}</td>
                <td class="text text-center">{{eachData.createdAt | date:'medium'}}</td>
                <td class="text text-center">
                  <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" (click)="setDetailsForModalApply(eachData._id,eachData.companyId._id,eachData.questions[0],eachData.questions[1])">View Details</button>
                </td>

              <!--   <td class="text text-center">
                  {{ eachData.createdAt | date [ : format [ : timezone [ : locale ] ] ] }}
                </td> -->

<!-- console.log(ts.);
 -->
              <td class="text text-center">{{eachData.leads}}</td>
              </tr>
            </tbody>
          </table>      

</div>       


<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p><b>Apply To the Jobs</b></p>
          <hr>
          <div class="form-group">
            <p>Why should we hire you?</p>
            <input type="text" class="form-control" placeholder="Write your answer here...." [(ngModel)]="questionOne">
          </div>
          <div class="form-group">
            <p>Why are you a good fit?</p>

            <input type="text" class="form-control" placeholder="Write your answer here...." [(ngModel)]="questionTwo">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click) = "applyToTheJob()">Apply</button>
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>  