<app-navbar></app-navbar>
<!-- <br>
<div class="container">
<h5 class="text"><b>
  List of Jobs
</b>  </h5>


</div>
<table class="table table-wrapper-scroll-y  ">   
            <thead>
              <tr>
                <th class="">Company Name</th>
                <th class=" text-center">Year Founded</th>
                <th class="">Funding</th>
                <th class="">Apply</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eachData of listOfCompanies">
                <td class="">{{eachData.name}}</td>
                <td class=" text-center">{{eachData.yearFounded}}</td>
                <td class="">
                 {{eachData.funding}}
                </td>
                <td class="">
                  Apply
                </td>
              </tr>
            </tbody>

          </table> -->
<!-- <app-show-leads></app-show-leads>    -->

<div class="container">
  
    <h5 class="text"><b>List of all Companies</b></h5>
<!-- <p  *ngIf="shouldShowPreLoader">Loading all leads.......</p> -->

          <table class="table" >   
            <thead>
              <tr>
                <th class="text text-center">Company Name</th>
                <th class="text text-center">Funding</th>
                <th class="text text-center">Job Posted At</th>
                <th class="text text-center">Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eachData of listOfCompanies">
                <td class="text text-center">{{eachData.name}} ({{eachData.yearFounded}})</td>
                <td class="text text-center">{{eachData.funding}}</td>
                <td class="text text-center">{{eachData.createdAt | date:'medium'}}</td>
                <td class="text text-center">
                  <button class="btn btn-info btn-sm">View Details</button>
                </td>

              <!--   <td class="text text-center">
                  {{ eachData.createdAt | date [ : format [ : timezone [ : locale ] ] ] }}
                </td> -->

<!-- console.log(ts.);
 -->
                <td class="text text-center">{{eachData.leads}}</td>
              </tr>
            </tbody>
          </table>      

</div>       