<app-navbar></app-navbar>
<div class="container">
	<div class="container">
  <h2>See Sales</h2>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Serial No</th>
        <th>Name</th>
        <th>Sales</th>
        <th>Action</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let eachLog of [1,2,3,4,5,6,7,8,9]">
        <td>{{eachLog}}</td>
        <td>John {{eachLog}}</td>
        <td>Server Crashed</td>
        <td>
        	<button class="btn btn-warning">Edit</button>
        </td>
         <td>
        	<button class="btn btn-danger">Delete</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
</div>
