<h5 class="text" ><b>GitHub Performance Report</b> 
 <span class="badge badge-warning">Total Repo {{gitHubRepoCount}}</span>
 <span class="badge badge-warning">Followers {{githubFollowers}}</span>
 


</h5>


<p  *ngIf="shouldShowPreLoader">Loading all sales.......</p>
<br>
            <table class="table table-wrapper-scroll-y" *ngIf="!shouldShowPreLoader">   
            <thead>
              <tr>
                <th class="text text-center">Title  </th>                
                <th class="text text-center">State</th>
                <th class="text text-center">Repo</th>
                <th class="text text-center">Created At</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eachData of githubRepo">
                <td class="text text-center">{{eachData.title}} </td>
                <td class="text text-center">{{eachData.state}}</td>
                <td class="text text-center">
                  <!-- <button class="btn btn-info btn-sm" onclick="window.location.href=`eachData.repository_url`">Show Repository</button> -->
                   <span class="badge badge-success"><a href={{eachData.html_url}} style="color: white" target="_blank">Repo Link</a></span>
                  <!-- <a href={{eachData.html_url}}>Repo Link</a> -->
                </td>
                 <td class="text text-center">
                  {{eachData.created_at | date:'medium'}}
                </td>
              </tr>
            </tbody>
          </table>
<div class="modal fade" id="salesLeadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sales Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text text-info"></h5>
        <br>
        <table class="table">   
            <thead>
              <tr>
                <th class="text text-center">Name</th>
                <th class="text text-center">Number of Leads</th>
                <th class="text text-center">Phone</th>

              </tr>
            </thead>
        <!--     <tbody>
              <tr *ngFor="let eachData of listOfAllSaleDetails">
                <td class="text text-center">{{eachData.firstName}} {{eachData.lastName}}</td>
                <td class="text text-center">{{eachData.leads}}</td>
                <td class="text text-center">
                 {{eachData.phone}}
                </td>
              </tr>
            </tbody> -->
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
