<app-navbar></app-navbar>
<div class="container">
	<br><br>
	 <div class="form-group">
    <label for="part1Message"><b>Message Part 1</b></label>
    <textarea class="form-control" id="part1Message" rows="3"></textarea>
    <br>
    <button class="btn btn-success btn-block">Add to template</button>
 </div>
 	<br><br>
	 <div class="form-group">
    <label for="part2Message"><b>Message Part 2</b></label>
    <textarea class="form-control" id="part2Message" rows="3"></textarea>
    <br>
    <button class="btn btn-success btn-block">Add to template</button>
 </div>
 	<br><br>
	 <div class="form-group">
    <label for="part3Message"><b>Message Part 3</b></label>
    <textarea class="form-control" id="part3Message" rows="3"></textarea>
    <br>
    <button class="btn btn-success btn-block">Add to template</button>
 </div>
</div>