<app-navbar></app-navbar>
<br><br><br>
<div class="row">
                    <div class="col-xs-4 program-heading">
                        <h5 class="text text-default"><b>Message Part 1</b></h5>
                        <h6 class="text text-default">Edit your message</h6>

                        <!-- <input type="text" name=""> -->
                        <textarea rows="5" cols="30">
                            
                        </textarea>
                        <h6 class="text text-default" style="padding-top: 10px; font-size: 10px; ">
                            <button class="btn btn-info btn-sm">Save</button>
                        </h6>
                    </div>
                    <div class="col-xs-4 program-heading">
                            <h5 class="text text-default"><b>Message Part 2</b></h5>
                        <h6 class="text text-default">Edit your message</h6>

                        <!-- <input type="text" name=""> -->
                        <textarea rows="5" cols="30">
                            
                        </textarea>
                        
                        <h6 class="text text-default" style="padding-top: 10px; font-size: 10px; ">
                            <button class="btn btn-info btn-sm">Save</button>
                        </h6>
                    </div>
                    <div class="col-xs-4 program-heading">
                            <h5 class="text text-default"><b>Message Part 3</b></h5>
                        <h6 class="text text-default">Edit your message</h6>

                        <!-- <input type="text" name=""> -->
                        <textarea rows="5" cols="30">
                            
                        </textarea>
                        <h6 class="text text-default" style="padding-top: 10px; font-size: 10px; ">
                            <button class="btn btn-info btn-sm">Save</button>
                        </h6>
                    </div>
                <!--    <div id="rounded-button">
                        <button class="btn btn-success"><span class="glyphicon glyphicon-menu-right"></span></button>
                    </div> -->
                </div>
