<app-navbar></app-navbar>
<div class="container">
</div>
<div class="container">
    <div class="row">
    <div class="col-md-8">
      <h2>Batch Invite</h2> 
    </div>
  </div>
  <table class="table table-hover">

    <tbody class="text text-center">
      <div *ngFor="let eachCount of totalEmailCount; index as i" >
        <div class="row">
          <div class="col-md-4">
             <input type="text" name="" class="form-control" style="width: 100%;" placeholder="Enter Email here..." (change)="setEmailToInvite($event,i)">
          </div>
           <div class="col-md-2">
             <input type="text" name="" class="form-control" style="width: 100%;" placeholder="First Name..." (change)="setFirstNameToInvite($event,i)">
          </div>
          <div class="col-md-2">
             <input type="text" name="" class="form-control" style="width: 100%;" placeholder="Last Name..." (change)="setLastNameToInvite($event,i)">
          </div>
          <div class="col-md-2">
             <input type="text" name="" class="form-control" style="width: 100%;" placeholder="Phone..." (change)="setPhoneToInvite($event,i)">
          </div>
          <div class="col-md-2">
             <input type="text" name="" class="form-control" style="width: 100%;" placeholder="Country Code..." (change)="setCountryCodeInvite($event,i)">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
           <button class="btn btn-block btn-primary" (click) = "addMoreInputField()">Add More</button>
        </div>
        <div class="col-md-8">
             <button class="btn btn-block btn-success" (click) = "submitAllData()">Invite All</button>
        </div>
      </div>
    </tbody>
  </table>

</div>



