<app-navbar></app-navbar>
<div class="container">
  <div class="layout-centered bg-img body" >
     <!--Main Content -->
    <main class="main-content">
      <div class="bg-white  rounded shadow-7 w-400 mw-100 p-6 " style="height: 100vh !important;">
        <h5 class="mb-7"><b>Create Profile</b></h5>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Image URL Link...." [(ngModel)]="imageURLLink">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Resume Link...." [(ngModel)]="resumeLink">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="GitHub Link..." [(ngModel)]="githubLink">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="LinkedIn Link..." [(ngModel)]="linkedInLink">
          </div>
           <div class="form-group">
            <input type="text" class="form-control" placeholder="Fiverr Link..." [(ngModel)]="fiverrLink">
          </div>
           <div class="form-group">
            <input type="text" class="form-control" placeholder="Codeforces Link..." [(ngModel)]="codeforcesLink">
          </div>
           <div class="form-group">
            <input type="text" class="form-control" placeholder="CodeChef Link..." [(ngModel)]="codechefLink">
          </div>         
          <br>
          <br>
          <div class="form-group" >
            <button class="btn btn-block btn-primary" type="submit" (click) = "createNewProfile()">Create Profile</button>
          </div> 
      </div>


    </main><!-- /.main-content -->


    <!-- Scripts -->
    <script src="../assets/js/page.min.js"></script>
    <script src="../assets/js/script.js"></script>

  </div>
</div> 
