<app-navbar></app-navbar>
<div class="container">
  <div class="layout-centered bg-img body" >
     <!--Main Content -->
    <main class="main-content">
      <div class="bg-white  rounded shadow-7 w-400 mw-100 p-6 " style="height: 100vh !important;">
        <h5 class="mb-7"><b>Create New Company</b></h5>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name of Company...." [(ngModel)]="companyName">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="About the Company...." [(ngModel)]="companyAbout">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Year Founded..." [(ngModel)]="companyYear">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Funding..." [(ngModel)]="companyFunding">
          </div>          
          <br>
          <br>
          <div class="form-group" >
            <button class="btn btn-block btn-primary" type="submit" (click) = "createNewCompany()">Create New Company</button>
          </div>
        </form>


      </div>


    </main><!-- /.main-content -->


    <!-- Scripts -->
    <script src="../assets/js/page.min.js"></script>
    <script src="../assets/js/script.js"></script>

  </div>
</div> 
